.working-area {
  width: 100%;
  height: 100%;
  background-color: silver;
}
.drawing-area {
  display: inline-flex;
  flex-wrap: wrap;
  width: 1024px;
  overflow: auto;
}
.grid-box {
  cursor: crosshair;
  width: 32px;
  height: 32px;
  border: 0;
  background-color: white;
  margin: 0;
  padding: 0;
}
.cell-contents {
  width: 100%;
  height: 100%;
}
.wrapper {
  display: flex;
}
.toolbar-grid {
  width: 300px;
}
.working-grid {
}
.color-pick {
  cursor: pointer;
}
.primary-color-view, .secondary-color-view {
  margin-top: 32px;
  margin-right: 32px;
  display: inline-block;
}
.primary-color-view > fieldset, .secondary-color-view > fieldset {
  width: 64px;
  height: 64px;
}