<div class="grid-box" phx-target="<%= @myself %>"
     oncontextmenu="return false;" phx-hook="Clicky" data-ref="<%= @id %>">
    <div style="background-color: <%= @fill_color %>" class="cell-contents">
        <%= @myself.cid %>
    </div>
</div>
